<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SymBook{% endblock %}</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }
        table { margin-bottom: 20px; }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>